* {
  font-family: sans-serif;
  background-color: #2F7693;
}

@media screen and (min-width: 1000px) {
  .n1 {
    width: 100%;
    height: 50px;
    opacity: 1;
    position: relative;
  }
  .n1 .fh4 {
    position: absolute;
    left: 5%;
    top: 20%;
    color: white;
  }
  .n1 .u1 {
    position: absolute;
    left: 40%;
    top: 20%;
    list-style: none;
    display: inline-flex;
  }
  .n1 .u1 li {
    color: white;
    margin-right: 10px;
  }
  .n1 .uu1, .n1 .b1, .n1 .b2 {
    display: none;
  }
  .n1 .b3 {
    position: absolute;
    right: 5%;
    top: 10%;
    color: black;
  }
  .br {
    width: 100%;
    height: 40px;
    opacity: 1;
  }
  .d1 {
    width: 100%;
    height: 380px;
    opacity: 1;
    position: relative;
  }
  .d1 .cont1 {
    width: 80%;
    height: 100%;
    position: absolute;
    left: 10%;
    opacity: 1;
  }
  .d1 .cont1 .c11, .d1 .cont1 .c12 {
    width: 50%;
    height: 100%;
    opacity: 1;
  }
  .d1 .cont1 .c11 {
    position: absolute;
    left: 0%;
  }
  .d1 .cont1 .c11 .fh1, .d1 .cont1 .c11 .p1, .d1 .cont1 .c11 .p2 {
    color: white;
  }
  .d1 .cont1 .c11 .p1 {
    position: absolute;
    top: 40%;
  }
  .d1 .cont1 .c11 .p2 {
    position: absolute;
    top: 60%;
  }
  .d1 .cont1 .c11 .b4 {
    position: absolute;
    left: 5%;
    bottom: 2%;
  }
  .d1 .cont1 .c11 .b5 {
    position: absolute;
    left: 35%;
    bottom: 2%;
  }
  .d1 .cont1 .c12 {
    position: absolute;
    right: 0%;
  }
  .d1 .cont1 .c12 .im1 {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 2px solid white;
  }
  .d2 {
    width: 100%;
    height: 30px;
    opacity: 1;
    position: relative;
  }
  .d2 .cont2 {
    width: 52%;
    height: 100%;
    position: absolute;
    left: 24%;
    opacity: 1;
  }
  .d2 .cont2 .sh4 {
    color: white;
  }
  .d3 {
    width: 100%;
    height: 200px;
    position: relative;
    opacity: 1;
  }
  .d3 .pp1 {
    width: 80%;
    height: 100%;
    opacity: 1;
    position: absolute;
    left: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .d3 .pp1 .item {
    width: 25%;
    height: 100%;
    position: absolute;
  }
  .d3 .pp1 .item .im2 {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 45%;
    top: 0%;
  }
  .d3 .pp1 .item .th4 {
    color: white;
  }
  .d3 .pp1 .item .p3 {
    position: absolute;
    left: 5%;
    bottom: 0.5%;
    text-align: center;
    color: white;
  }
  .d3 .pp1 .item1 {
    position: absolute;
    left: 0%;
  }
  .d3 .pp1 .item1 .th4 {
    position: absolute;
    top: 25%;
    left: 35%;
  }
  .d3 .pp1 .item2 {
    position: absolute;
    left: 25%;
  }
  .d3 .pp1 .item2 .th4 {
    position: absolute;
    top: 25%;
    left: 18%;
  }
  .d3 .pp1 .item3 {
    position: absolute;
    left: 50%;
  }
  .d3 .pp1 .item3 .th4 {
    position: absolute;
    top: 25%;
    left: 25%;
  }
  .d3 .pp1 .item4 {
    position: absolute;
    left: 75%;
  }
  .d3 .pp1 .item4 .th4 {
    position: absolute;
    top: 25%;
    left: 20%;
  }
  .d4 {
    width: 100%;
    height: 300px;
    position: relative;
    opacity: 1;
  }
  .d4 .cont4 {
    width: 80%;
    height: 100%;
    position: absolute;
    left: 10%;
  }
  .d4 .cont4 .c41, .d4 .cont4 .c42 {
    width: 50%;
    height: 100%;
    opacity: 1;
  }
  .d4 .cont4 .c41 {
    position: absolute;
    left: 0%;
  }
  .d4 .cont4 .c41 .im3 {
    width: 98%;
    height: 100%;
    position: absolute;
    left: 1%;
    border-radius: 15px;
  }
  .d4 .cont4 .c42 {
    position: absolute;
    right: 0%;
  }
  .d4 .cont4 .c42 .fih4, .d4 .cont4 .c42 .p4 {
    color: white;
  }
  .d5 {
    width: 100%;
    height: 300px;
    position: relative;
    opacity: 1;
  }
  .d5 .cont5 {
    width: 80%;
    height: 100%;
    position: absolute;
    left: 10%;
  }
  .d5 .cont5 .c51, .d5 .cont5 .c52 {
    width: 50%;
    height: 100%;
    opacity: 1;
  }
  .d5 .cont5 .c51 {
    position: absolute;
    left: 0%;
  }
  .d5 .cont5 .c51 .fh3 {
    font-size: 38px;
    color: white;
  }
  .d5 .cont5 .c51 .p5 {
    color: white;
  }
  .d5 .cont5 .c51 .pp2 {
    width: 90%;
    height: 40%;
    position: absolute;
    bottom: 0%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    opacity: 1;
  }
  .d5 .cont5 .c51 .pp2 .itemm {
    width: 50%;
    height: 50%;
    opacity: 1;
  }
  .d5 .cont5 .c51 .pp2 .i1 {
    position: absolute;
    left: 0%;
    top: 0%;
  }
  .d5 .cont5 .c51 .pp2 .i1 .im5 {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0%;
    top: 15%;
  }
  .d5 .cont5 .c51 .pp2 .i1 .p6 {
    position: absolute;
    right: 28%;
    top: 30%;
    color: white;
  }
  .d5 .cont5 .c51 .pp2 .i2 {
    position: absolute;
    right: 0%;
    top: 0%;
  }
  .d5 .cont5 .c51 .pp2 .i2 .im5 {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0%;
    top: 15%;
  }
  .d5 .cont5 .c51 .pp2 .i2 .p6 {
    position: absolute;
    right: 28%;
    top: 30%;
    color: white;
  }
  .d5 .cont5 .c51 .pp2 .i3 {
    position: absolute;
    left: 0%;
    bottom: 0%;
  }
  .d5 .cont5 .c51 .pp2 .i3 .im5 {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0%;
    top: 15%;
  }
  .d5 .cont5 .c51 .pp2 .i3 .p6 {
    position: absolute;
    right: 35%;
    top: 30%;
    color: white;
  }
  .d5 .cont5 .c51 .pp2 .i4 {
    position: absolute;
    right: 0%;
    bottom: 0%;
  }
  .d5 .cont5 .c51 .pp2 .i4 .im5 {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0%;
    top: 15%;
  }
  .d5 .cont5 .c51 .pp2 .i4 .p6 {
    position: absolute;
    right: 35%;
    top: 30%;
    color: white;
  }
  .d5 .cont5 .c52 {
    position: absolute;
    right: 0%;
  }
  .d5 .cont5 .c52 .im4 {
    width: 98%;
    height: 100%;
    position: absolute;
    left: 1%;
    border-radius: 15px;
  }
  .d6 {
    width: 100%;
    height: 70px;
    opacity: 1;
  }
  .d6 .container {
    width: 80%;
    opacity: 1;
  }
  .d6 .container .pp3 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .d6 .container .pp3 .pa {
    height: 100%;
  }
  .d6 .container .pp3 .pa .sh3, .d6 .container .pp3 .pa .p7 {
    text-align: center;
    color: white;
  }
  .d7 {
    width: 100%;
    height: 480px;
    opacity: 1;
  }
  .d7 .container {
    width: 80%;
    opacity: 1;
  }
  .d7 .container .pp4 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .d7 .container .pp4 .par {
    height: 100%;
  }
  .d7 .container .pp4 .par .im6 {
    width: 96%;
    height: 60%;
    position: relative;
    left: 2%;
    border-radius: 15px;
  }
  .d7 .container .pp4 .par .sih4, .d7 .container .pp4 .par .p8 {
    text-align: center;
    color: white;
  }
  .d8 {
    width: 100%;
    height: 80px;
    opacity: 1;
  }
  .d8 .container {
    width: 80%;
    opacity: 1;
  }
  .d8 .container .pp5 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .d8 .container .pp5 .seh4, .d8 .container .pp5 .p9 {
    text-align: center;
    color: white;
  }
  .d8 .container .pp5 .u2 {
    list-style: none;
  }
  .d8 .container .pp5 .u2 li {
    text-align: center;
    color: white;
  }
}
@media screen and (max-width: 1000px) {
  .n1 {
    width: 100%;
    height: 100px;
    opacity: 1;
    position: relative;
  }
  .n1 .fh4 {
    position: absolute;
    left: 5%;
    top: 25%;
    color: white;
    font-size: 35px;
  }
  .n1 .u1 {
    display: none;
  }
  .n1 .b1 {
    position: absolute;
    right: 30%;
    top: 15%;
    font-size: 33px;
    z-index: 2000;
    color: black;
  }
  .n1 .uu1 {
    width: 25%;
    height: 230%;
    background-color: #708083;
    border: 2px solid white;
    border-radius: 15px;
    position: absolute;
    right: 30%;
    top: 10%;
    z-index: 2000;
    display: none;
  }
  .n1 .uu1 .u11 {
    list-style: none;
    background-color: #708083;
  }
  .n1 .uu1 .u11 li {
    background-color: #708083;
    color: white;
    margin-right: 10px;
    font-size: 33px;
  }
  .n1 .uu1 .b2 {
    z-index: 2000;
    position: absolute;
    bottom: 2%;
    left: 20%;
    font-size: 33px;
    color: black;
  }
  .n1 .b3 {
    position: absolute;
    right: 2%;
    top: 15%;
    color: black;
    font-size: 33px;
  }
  .br {
    width: 100%;
    height: 50px;
    opacity: 1;
  }
  .d1 {
    width: 100%;
    height: 1000px;
    opacity: 1;
    position: relative;
  }
  .d1 .cont1 {
    width: 80%;
    height: 100%;
    position: absolute;
    left: 10%;
    opacity: 1;
  }
  .d1 .cont1 .c11, .d1 .cont1 .c12 {
    height: 50%;
    width: 100%;
    opacity: 1;
  }
  .d1 .cont1 .c11 {
    position: absolute;
    top: 0%;
  }
  .d1 .cont1 .c11 .fh1, .d1 .cont1 .c11 .p1, .d1 .cont1 .c11 .p2 {
    color: white;
  }
  .d1 .cont1 .c11 .fh1 {
    font-size: 40px;
  }
  .d1 .cont1 .c11 .p1 {
    position: absolute;
    top: 25%;
    font-size: 33px;
  }
  .d1 .cont1 .c11 .p2 {
    position: absolute;
    top: 50%;
    font-size: 33px;
  }
  .d1 .cont1 .c11 .b4 {
    position: absolute;
    left: 5%;
    bottom: 2%;
    font-size: 33px;
  }
  .d1 .cont1 .c11 .b5 {
    position: absolute;
    left: 35%;
    bottom: 2%;
    font-size: 33px;
  }
  .d1 .cont1 .c12 {
    position: absolute;
    bottom: 0%;
  }
  .d1 .cont1 .c12 .im1 {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 2px solid white;
  }
  .d2 {
    width: 100%;
    height: 90px;
    opacity: 1;
    position: relative;
  }
  .d2 .cont2 {
    width: 80%;
    height: 100%;
    position: absolute;
    left: 10%;
    opacity: 1;
  }
  .d2 .cont2 .sh4 {
    font-size: 35px;
    text-align: center;
  }
  .d3 {
    width: 100%;
    height: 900px;
    position: relative;
    opacity: 1;
  }
  .d3 .pp1 {
    width: 80%;
    height: 100%;
    opacity: 1;
    position: absolute;
    left: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .d3 .pp1 .item {
    width: 50%;
    height: 50%;
    position: absolute;
  }
  .d3 .pp1 .item .im2 {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 45%;
    top: 0%;
  }
  .d3 .pp1 .item .th4 {
    color: white;
    font-size: 35px;
  }
  .d3 .pp1 .item .p3 {
    position: absolute;
    left: 5%;
    bottom: 0.5%;
    text-align: center;
    color: white;
    font-size: 33px;
  }
  .d3 .pp1 .item1 {
    position: absolute;
    left: 0%;
    top: 0%;
  }
  .d3 .pp1 .item1 .th4 {
    position: absolute;
    top: 18%;
    left: 35%;
  }
  .d3 .pp1 .item2 {
    position: absolute;
    right: 0%;
    top: 0%;
  }
  .d3 .pp1 .item2 .th4 {
    position: absolute;
    top: 18%;
    left: 18%;
  }
  .d3 .pp1 .item3 {
    position: absolute;
    left: 0%;
    bottom: 0%;
  }
  .d3 .pp1 .item3 .th4 {
    position: absolute;
    top: 18%;
    left: 25%;
  }
  .d3 .pp1 .item4 {
    position: absolute;
    right: 0%;
    bottom: 0%;
  }
  .d3 .pp1 .item4 .th4 {
    position: absolute;
    top: 18%;
    left: 20%;
  }
  .d4 {
    width: 100%;
    height: 1500px;
    position: relative;
    opacity: 1;
  }
  .d4 .cont4 {
    width: 80%;
    height: 100%;
    position: absolute;
    left: 10%;
  }
  .d4 .cont4 .c41 {
    height: 54%;
    width: 100%;
    opacity: 1;
    position: absolute;
    top: 0%;
  }
  .d4 .cont4 .c41 .im3 {
    width: 98%;
    height: 100%;
    position: absolute;
    left: 1%;
    border-radius: 15px;
  }
  .d4 .cont4 .c42 {
    height: 46%;
    width: 100%;
    opacity: 1;
    position: absolute;
    bottom: 0%;
  }
  .d4 .cont4 .c42 .fih4 {
    font-size: 35px;
    color: white;
  }
  .d4 .cont4 .c42 .p4 {
    font-size: 33px;
    text-align: center;
    color: white;
  }
  .d5 {
    width: 100%;
    height: 1200px;
    position: relative;
    opacity: 1;
  }
  .d5 .cont5 {
    width: 80%;
    height: 100%;
    position: absolute;
    left: 10%;
  }
  .d5 .cont5 .c51 {
    height: 46%;
    width: 100%;
    opacity: 1;
    position: absolute;
    top: 0%;
  }
  .d5 .cont5 .c51 .fh3 {
    font-size: 38px;
    color: white;
  }
  .d5 .cont5 .c51 .p5 {
    color: white;
    font-size: 33px;
  }
  .d5 .cont5 .c51 .pp2 {
    width: 90%;
    height: 40%;
    position: absolute;
    bottom: 0%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    opacity: 1;
  }
  .d5 .cont5 .c51 .pp2 .itemm {
    width: 50%;
    height: 50%;
    opacity: 1;
  }
  .d5 .cont5 .c51 .pp2 .i1 {
    position: absolute;
    left: 0%;
    top: 0%;
  }
  .d5 .cont5 .c51 .pp2 .i1 .im5 {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0%;
    top: 15%;
  }
  .d5 .cont5 .c51 .pp2 .i1 .p6 {
    position: absolute;
    right: 20%;
    top: 20%;
    color: white;
    font-size: 33px;
  }
  .d5 .cont5 .c51 .pp2 .i2 {
    position: absolute;
    right: 0%;
    top: 0%;
  }
  .d5 .cont5 .c51 .pp2 .i2 .im5 {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0%;
    top: 15%;
  }
  .d5 .cont5 .c51 .pp2 .i2 .p6 {
    position: absolute;
    right: 20%;
    top: 20%;
    color: white;
    font-size: 33px;
  }
  .d5 .cont5 .c51 .pp2 .i3 {
    position: absolute;
    left: 0%;
    bottom: 0%;
  }
  .d5 .cont5 .c51 .pp2 .i3 .im5 {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0%;
    top: 15%;
  }
  .d5 .cont5 .c51 .pp2 .i3 .p6 {
    position: absolute;
    right: 30%;
    top: 20%;
    color: white;
    font-size: 33px;
  }
  .d5 .cont5 .c51 .pp2 .i4 {
    position: absolute;
    right: 0%;
    bottom: 0%;
  }
  .d5 .cont5 .c51 .pp2 .i4 .im5 {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0%;
    top: 15%;
  }
  .d5 .cont5 .c51 .pp2 .i4 .p6 {
    position: absolute;
    right: 35%;
    top: 20%;
    color: white;
    font-size: 33px;
  }
  .d5 .cont5 .c52 {
    height: 54%;
    width: 100%;
    opacity: 1;
    position: absolute;
    bottom: 0%;
  }
  .d5 .cont5 .c52 .im4 {
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
  .d6 {
    width: 100%;
    height: 210px;
    opacity: 1;
  }
  .d6 .container {
    width: 80%;
    opacity: 1;
  }
  .d6 .container .pp3 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    opacity: 1;
  }
  .d6 .container .pp3 .pa {
    height: 100%;
    opacity: 1;
  }
  .d6 .container .pp3 .pa .sh3 {
    text-align: center;
    color: white;
    font-size: 35px;
  }
  .d6 .container .pp3 .pa .p7 {
    text-align: center;
    color: white;
    font-size: 33px;
  }
  .d7 {
    width: 100%;
    height: 2750px;
    opacity: 1;
  }
  .d7 .container {
    width: 80%;
    opacity: 1;
  }
  .d7 .container .pp4 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .d7 .container .pp4 .par {
    height: 100%;
  }
  .d7 .container .pp4 .par .im6 {
    width: 100%;
    height: 60%;
    border-radius: 15px;
  }
  .d7 .container .pp4 .par .sih4 {
    text-align: center;
    color: white;
    font-size: 35px;
  }
  .d7 .container .pp4 .par .p8 {
    text-align: center;
    color: white;
    font-size: 33px;
  }
  .d8 {
    width: 100%;
    height: 330px;
    opacity: 1;
  }
  .d8 .container {
    width: 80%;
    opacity: 1;
  }
  .d8 .container .pp5 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    opacity: 1;
  }
  .d8 .container .pp5 .seh4 {
    text-align: center;
    color: white;
    font-size: 35px;
  }
  .d8 .container .pp5 .p9 {
    text-align: center;
    color: white;
    font-size: 33px;
  }
  .d8 .container .pp5 .u2 {
    list-style: none;
  }
  .d8 .container .pp5 .u2 li {
    text-align: center;
    color: white;
    font-size: 33px;
  }
}/*# sourceMappingURL=style.css.map */